/************************
 * TEA COZY - HOME PAGE *
 ***********************/

body {
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: seashell;
  }

a {
  color: seashell;
}

/*** Header ***/

header {
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

header img, header li {
  margin: 0 10px;
  display: inline-block;
}

/*** Main Content Wrapper ***/

main {
  width: 1200px;
  margin: 0 auto;
  padding: 70px 50px 0 50px;
}

/*** Company Mission Section ***/

#mission {
  display: flex;
}

#hero-panel {
  width: 1200px;
  height: 700px;
  background-image: url(images/img-mission-background.jpg);
  display: flex;
  align-items: center;
}

#mission-statement {
  width: 100%;
  background-color: black;
}

#mission-statement h2, #mission-statement h4 {
  margin: 0;
  padding: 10px 0;
}

/*** Featured Products Section ***/

#featured-items {
  width: 1030px;
  margin: 80px auto 0 auto;
}

#featured-items h2 {
  margin: 0;
}

#featured-items h4 {
  margin: 20px 0 25px 0;
}

#product-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#product-cards-wrapper h4 {
  margin-top: 10px;
}

.product-card img {
  padding: 0 15px;
}

/*** Locations Section ***/

/* NOTE: The redline specifies a height of 500px for the Locations
image, but it SHOWS the image at about 570px high. In my opinion the
570px height is more effective, so that's what I applied below. */

#locations-panel {
  width: 1200px;
  height: 570px;
  margin-top: 54px;
  background-image: url(images/img-locations-background.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

#locations-panel h2 {
  width: 100%;
  margin: 80px 0 20px 0;
}

.location-card {
  width: 300px;
  margin: 0 20px;
  padding: 10px 0;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.location-card h3 {
  margin: 10px 0;
}

/*** Company Contact Section ***/

#contact h2 {
  margin: 10px 0 40px 0;
}

/*** Footer ***/

footer {
  padding: 38px 20px 30px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
