body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: seashell;
  opacity: 0.9;
}

a {
  color: seashell;
}

header {
  width: 100%;
  height: 69px;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

header img, header li {
  margin: 0 10px;
  display: inline-block;
}

main {
  width: 1200px;
  margin: 0 auto;
  padding: 70px 50px 0 50px;
}

#mission {
  display: flex;
}

#hero {
  background-image: url(images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
}

#mission-statement {
  width: 100%;
  background-color: black;
}

#mission-statement h2, #mission-statement h4 {
  margin: 0;
  padding: 10px 0;
}

#featured-items {
  width: 1030px;
  margin: 80px auto 0 auto;
}

#featured-items h2 {
  margin: 0;
}

#featured-items h4 {
  margin: 20px 0 25px 0;
}

#product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#product-cards h4 {
  margin-top: 10px;
}

.product-card img {
  padding: 0 15px;
}

/* NOTE: The redline specifies a height of 500px for the locations panel below ... but
it SHOWS a height of about 570 pixels - and that looks better to me, so I'm using it. */

#locations-panel {
  width: 1200px;
  height: 570px;
  margin-top: 54px;
  background-image: url(images/img-locations-background.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

#locations-panel h2 {
  width: 100%;
  margin: 80px 0 20px 0;
}

.location-card {
  width: 300px;
  margin: 0 20px;
  padding: 10px 0;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.location-card h3 {
  margin: 10px 0;
}

#contact h2 {
  margin: 10px 0 40px 0;
}

footer {
  padding: 38px 20px 30px 20px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
